<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Message Post</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet"
          type="text/css">
</head>

<body>
<div class="ui container">
    <h4>New To-do</h4>
    <form action="#" class="ui form" method="POST" th:action="@{/todos}" th:object="${todo}">
        <fieldset>
            <legend>To-do</legend>
            <div class="field">
                <label for="description">To-do</label>
                <input th:field="*{description}" type="text"/>
            </div>
            <div class="field">
                <label for="completed">Completed</label>
                <input th:field="*{completed}" type="checkbox"/>
            </div>
            <button class="ui mini primary button">Save <i class="send icon"></i></button>
        </fieldset>
    </form>
</div>
</body>
</html>
